  <h1><%= todo.title %>!</h1>

    <p>
        Stav:
        <% if (todo.done){ %>
            Hotovo
        <%} else {%>
            Nehotove
        <%} %>
    </p>

    <p>
      Priority: <%=todo.priority%>
    </p>

    <p>
        <% if (todo.done) { %>
          <a href="/toggle-todo/<%= todo.id %>">oznacit ako nehotove</a><br/>
          <a href="/remove-todo/<%= todo.id %>">odstranit</a>
        <% } else { %>
          <a href="/toggle-todo/<%= todo.id %>">oznacit ako hotove</a><br/>
          <a href="/remove-todo/<%= todo.id %>">odstranit</a>
        <% } %>
    </p>

    <form method="post" action="/edit-todo/<%= todo.id %>">
      <input name="title" value = '<%= todo.title %>'/>
      <select name="priority">
        <option value="low" <%= todo.priority === 'low'?'selected':''%>>low</option>
        <option value="normal" <%= todo.priority === 'normal'?'selected':''%>>normal</option>
        <option value="high" <%= todo.priority === 'high'?'selected':''%>>high</option>
      </select>
      <button type="submit">Zmenit</button>
    </form>

    <br/>
    <a href="/">Spat</a>