<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= name %>!</h1>

  <div id="todos">
    <%- include('_todos.html') %>
  </div>

    <form method="post" action="/add-todo">
      <input name="title" />
      <button type="submit">Pridat todo</button>
    </form>
    
    <script>
      const ws = new WebSocket('ws://localhost:3000/ws')

      ws.addEventListener('message',(message)=>{
        const data = JSON.parse(message.data)
        if (data.type==='todos'){
          document.getElementById('todos').innerHTML = data.html
        }
      })
    </script>
  </body>
</html>