<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO detail</title>
  </head>
  <body>
  <div id="detail">
    <%- include('_todoDetail.html') %>
  </div>
    <script>
      const ws = new WebSocket('ws://localhost:3000/ws')
      const todoId = <%= todo.id %>
      ws.addEventListener('message',(message)=>{
        const data = JSON.parse(message.data)

        if (data.type==='todo-detail' && data.id === todoId){
          document.getElementById('detail').innerHTML = data.html
        }

        if (data.type==='todo-deleted' && data.id === todoId){
          document.getElementById('detail').innerHTML = `<h1> Toto todocko bolo zmazane!!! </h1><a href ="/">Spat</a>`
        }
      })
    </script>
  </body>
</html>